!!!
html
	head
		title Edit pages
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.newPage Create a new page
		.pages
			ul
				each page in pages
					li( data-pid="#{page.pid}" )
						a #{page.title}

		.currentpage(data-pid="")
			label Page id:
				input.pid( type="text", value="" )
			label Title:
				input.title( type="text", value="" )
			button.savepage Save
			button.deletepage Delete
		script(src="/socket.io/socket.io.js")
		script(src="/js/jquery.min.js")
		script(src="/js/script.js")